# ================================
# KODAM V/BRAWIJAYA - Backend ENV
# ================================

# PostgreSQL
DATABASE_URL=postgresql://muflihulchoir@localhost:5432/sansidam_db

# Groq API (https://console.groq.com)
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=llama-3.3-70b-versatile

# App Config
APP_HOST=0.0.0.0
APP_PORT=8000
CRAWL_INTERVAL_MINUTES=10

# CORS (izinkan Next.js frontend)
FRONTEND_URL=http://localhost:3000
